<div class="logo">

  {% comment %} mobile logo {% endcomment %}
  <p class="block md:hidden font-extra font-bold uppercase text-(--color-main-text) text-[1.125rem] leading-[1.444] {{ classes }}">FP<strong class="text-transparent bg-clip-text bg-linear-to-l from-(--color-bg-accent-from) to-(--color-bg-accent-to)">24</strong>
  </p>
  {% comment %} desktop logo {% endcomment %}
  <p class="hidden md:block font-extra lowercase font-bold text-(--color-main-text) text-[1.3125rem] leading-[1.24] {{ classes }}">fotoprokat
    <strong class="text-transparent bg-clip-text bg-linear-to-l from-(--color-bg-accent-from) to-(--color-bg-accent-to)">24</strong>
  </p>

</div>