<div class="logo">

  {% comment %} mobile logo {% endcomment %}
  <a href="{{ routes.root_url }}" class="block md:hidden {{ classes }}">
    <span class="font-extra font-bold uppercase text-(--color-main-text) text-[1.125rem] leading-[1.444]">FP<strong class="text-transparent bg-clip-text bg-linear-to-l from-(--color-bg-accent-from) to-(--color-bg-accent-to)">24</strong>
    </span>
  </a>
  {% comment %} desktop logo {% endcomment %}
  <a href="{{ routes.root_url }}" class="hidden md:block {{ classes }}">
    <span class="font-extra lowercase font-bold text-(--color-main-text) text-[1.3125rem] leading-[1.24]">fotoprokat
      <strong class="text-transparent bg-clip-text bg-linear-to-l from-(--color-bg-accent-from) to-(--color-bg-accent-to)">24</strong>
    </span>
  </a>

</div>