<div class="product-card__aside flex flex-col flex-nowrap gap-3 absolute {{ aside_classes }}">
      <button >
        <svg class="size-4.75 text-black cursor-pointer  hover:text-(--color-accent-text) transition ease-in duration-300">
          <use href="#icon-compare"></use>
        </svg>
      </button>
      <button>
        <svg class="size-6 text-black cursor-pointer hover:text-(--color-accent-text) transition ease-in duration-300">
          <use href="#icon-wishlist"></use>
        </svg>
      </button>
   </div>