{% if product.variants.size > 1 %}
  <div class="product-card-variants  flex flex-nowrap items-center" data-variants-container>
    {% for variant in product.variants %}
      <button
        type="button"
        class="product-card-variants__option flex-1 py-4 px-2 border-(--color-main-border) border-solid border-t border-b  border-r last:border-r-0 cursor-pointer hover:bg-(--color-bg-add) transition ease-in duration-200"
        data-variant-id="{{ variant.id }}"
        data-variant-price="{{ variant.price | money_without_trailing_zeros }}">
        <p class="font-bold text-3.5 leading-[1.43] ">{{ variant.price | money_without_trailing_zeros }}</p>
        <p class="font-normal text-3.5 leading-[1.43]">{{ variant.title }}</p>
      </button>
    {% endfor %}
  </div>
{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', ()=>{
        document.querySelectorAll('[data-variants-container]').forEach((container)=> {
            const buttons = container.querySelectorAll('.product-card-variants__option');
  
            buttons.forEach(btn => {
                btn.addEventListener('click', ()=> {
                    
                    // remove active classes
                    buttons.forEach(b => {
                        b.classList.remove(
                            'shadow-(--shadow-accent-variants)'
                        )
                    });
                    btn.classList.add(
                        'shadow-(--shadow-accent-variants)'
                    );
                    //update hidden input in "add to cart" form
            const form = container.closest('.product-card').querySelector('form');
            const input = form.querySelector('input[name="id"]');
            input.value = btn.dataset.variantId;
                });
            });
            
        });
    });
</script>