<section class="features mb-5">
  <div class="features__container max-w-[1150px] p-5 md:py-0 mx-auto">
    <div class="features__content">

      <ul class="features__list flex flex-row justify-start md:justify-between flex-wrap gap-5 md:gap-0">
        {% for block in section.blocks %}
          <li class="features__item bg-gray-100 flex flex-col md:flex-row grow md:shrink-0 justify-start items-center md:items-start md:gap-5 basis-40 md:basis-48 px-2.5 py-[30px]">
            {% if block.settings.icon != blank %}
              <img
                src="{{ block.settings.icon | image_url: width:33 }}"
                alt="icon"
                width="33"
                height="33">
            {% endif %}
            {% if block.settings.title != blank %}
              <p class="text-center md:text-start mt-3.5 md:-mt-1.5">{{ block.settings.title }}</p>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Features",
    "settings": [],
    "blocks": [
      {
        "type": "feature",
        "name": "Feature item",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Feature icon"
          }, {
            "type": "text",
            "id": "title",
            "label": "Feature title"
          }
        ]

      }
    ],
    "presets": [
      {
        "name": "Features",
        "category": "Custom"
      }
    ]
  }
{% endschema %}