{% assign words = section.settings.hero_text | split: ' ' %}
{% assign first_word = words[0] %}
{% assign rest_words = words | slice: 1, words.size | join: ' ' %}

<section class="hero">
  <div class="relative h-93.75 md:h-137.5">
    {% render 'viewport-images-mobile-desktop'
      ,
 desktop_image: section.settings.desktop_image
      ,
 mobile_image: section.settings.mobile_image
      ,
 class: 'block w-full h-full object-cover'
    %}
    <div class="min-h-5 absolute bottom-0 md:bottom-8 left-0 right-0">
      <div class="relative z-10 hero-container md:my-[50px] before:content-[''] before:block before:size-[30px] md:before:size-[60px] before:absolute before:bottom-[5px] md:before:-bottom-2.5 before:left-[5px] md:before:left-0 before:rounded-full before:-z-10 before:bg-linear-to-b before:from-(--color-bg-accent-from) before:to-(--color-bg-accent-to)">
        <h1 class="text-[1rem] bg-(--color-bg-main) relative font-bold md:text-[1.875rem] px-2.5 leading-[2.625] md:leading-[2.03] w-[200px] md:w-[260px] z-20 bg-main shadow-(--shadow-box-title) md:uppercase ">
          <strong class="text-black font-bold md:text-transparent md:bg-clip-text md:bg-linear-to-l md:from-(--color-bg-accent-from) md:to-(--color-bg-accent-to)">{{ first_word }}</strong>
          {{ rest_words }}</h1>
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Hero section",
    "settings": [
      {
        "type": "image_picker",
        "id": "desktop_image",
        "label": "Hero desktop banner"
      }, {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Hero mobile banner"
      }, {
        "type": "text",
        "id": "hero_text",
        "label": "Hero text",
        "default": "Оренда фото і відео обладнання"
      }
    ],
    "presets": [
      {
        "name": "Hero section"
      }
    ]
  }
{% endschema %}