<section class="hero">
  <div class="hero__container mx-auto px-4 max-w-[1412px]">
    <div class="hero__content">
      <p>photo and video equipment rental</p>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Hero section",
  "settings": [
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Hero desktop banner"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Hero mobile banner"
    },
    {
      "type": "text",
      "id": "hero_text",
      "label": "Hero text",
      "default": "photo and video equipment rental"
    }
  ],
  "presets": [
    {
      "name": "Hero section"
    }
  ]
}
{% endschema %}
