<section class="main-wishlist">
  <div class="container-middle">
    <h1>Wishlist</h1>
    <div id="wishlist-grid" class="grid grid-cols-2">
      <p class="col-span-full text-center py-20 ">Your wishlist is empty</p>
    </div>
  </div>
</section>