<section class="popular-products">
  <div class="container-middle">
    <h2 class="font-section-title mb-7">Популярні товари</h2>
    <div class="slider grid grid-cols-1 tablet-small:grid-cols-2 tablet-medium:grid-cols-3 justify-between gap-5 relative  tablet-large:scroll-smooth tablet-large:snap-x tablet-large:snap-mandatory tablet-large:overflow-x-auto">
      <button class="slider-prev hidden size-10 z-10 bg-(--color-bg-main) shadow-(--shadow-box-title) tablet-large:flex tablet-large:justify-center tablet-large:items-center tablet-large:absolute tablet-large:top-[110px] tablet-large:-left-5 ">
        <svg class="text-(--color-main-text) w-2 h-3.5">
           <use href="#icon-arrow"></use>
        </svg>
      </button>
      <button class="slider-next hidden size-10 z-10 bg-(--color-bg-main) shadow-(--shadow-box-title) tablet-large:flex tablet-large:justify-center tablet-large:items-center tablet-large:absolute tablet-large:top-[110px] tablet-large:-right-5">
        <svg class="text-(--color-main-text) w-2 h-3.5 rotate-180">
           <use href="#icon-arrow"></use>
        </svg>
      </button>

      {% for product in section.settings.products %}
        {% render 'product-card'
          , product: product %}
      {% endfor %}
    </div>
  </div>
</section>
<script>
  document.addEventListener("DOMContentLoaded", function(){
    const slider = document.querySelector(".popular-products .slider");
    if(!slider) return;

    const prevBtn = slider.querySelector(".slider-prev")
    const nextBtn = slider.querySelector(".slider-next")

    const card = slider.querySelector(".product-card")

    if(!card) return

    const cardWidth = card.offsetWidth + 20;

    prevBtn?.addEventListener("click", ()=> {
      slider.scrollBy({
        left: -cardWidth,
        behavior: "smooth",
      })
    })

    nextBtn?.addEventListener("click", ()=>{
      slider.scrollBy({
        left: cardWidth,
        behavior: "smooth",
      })
    })
  })
</script>

{% schema %}
  {
    "name": "Popular products",
    "settings": [
      {
        "type": "product_list",
        "id": "products",
        "label": "Select products",
        "limit": 12
      }
    ],

    "presets": [
      {
        "name": "Popular products",
        "category": "Custom"
      }
    ]
  }
{% endschema %}