<section class="popular-products">
  <div class="popular-products__container">
    <h1>Популярні товари</h1>
    {% for product in section.settings.products %}
      {% render 'product-card'
        , product: product %}
    {% endfor %}
  </div>
</section>

{% schema %}
  {
    "name": "Popular products",
    "settings": [
      {
        "type": "product_list",
        "id": "products",
        "label": "Select products",
        "limit": 12
      }
    ],

    "presets": [
      {
        "name": "Popular products",
        "category": "Custom"
      }
    ]
  }
{% endschema %}