<section class="popular-products">
  <div class="container-middle">
    <h2 class="font-section-title mb-7">Популярні товари</h2>
      <div class="relative">
        <div class=" flex flex-col gap-5 tablet-small:flex-row tablet-small:items-bottom tablet-small:flex-wrap tablet-large:hidden tablet-small:justify-between">
          {% for product in section.settings.products limit:3 %}
            {% render 'product-card'
              , product: product, add-card_classes:"
              w-full
              tablet-small:basis-[calc(50%-10px)] 
              tablet-medium:basis-[calc(33.333%-14px)]" %}
          {% endfor %}
        </div>
         <button class="slider-prev hidden cursor-pointer size-10 z-10 bg-(--color-bg-main) shadow-(--shadow-box-title) tablet-large:flex tablet-large:justify-center tablet-large:items-center tablet-large:absolute tablet-large:top-[110px] tablet-large:-left-5">
          <svg class="text-(--color-main-text) w-2 h-3.5">
             <use href="#icon-arrow"></use>
          </svg>
          </button>
          <button class="slider-next hidden cursor-pointer size-10 z-10 bg-(--color-bg-main) shadow-(--shadow-box-title) tablet-large:flex tablet-large:justify-center tablet-large:items-center tablet-large:absolute tablet-large:top-[110px] tablet-large:-right-5">
          <svg class="text-(--color-main-text) w-2 h-3.5 rotate-180">
             <use href="#icon-arrow"></use>
          </svg>
          </button>
        <div class=" hidden slider tablet-large:flex tablet-large:flex-nowrap tablet-large:flex-row tablet-large:justify-start tablet-large:gap-7 tablet-large:scroll-smooth tablet-large:snap-x tablet-large:snap-mandatory tablet-large:overflow-x-auto">
         
          {% for product in section.settings.products limit:12 %}
            {% render 'product-card'
              , product: product, add-card_classes:"basis-[350px] shrink-0 snap-start" %}
          {% endfor %}
        </div>
      </div>
  </div>
</section>
<script>
  document.addEventListener("DOMContentLoaded", function(){
    console.log('load')
    const slider = document.querySelector(".popular-products .slider");
    if(!slider) return;

    const prevBtn = document.querySelector(".slider-prev")
    const nextBtn = document.querySelector(".slider-next")

    const card = slider.querySelector(".product-card")

    if(!card) return

    const cardWidth = card.offsetWidth + 20;

    prevBtn?.addEventListener("click", ()=> {
    console.log('click prev btn')

      slider.scrollBy({
        left: -cardWidth,
        behavior: "smooth",
      })
    })

    nextBtn?.addEventListener("click", ()=>{
    console.log('click next btn')

      slider.scrollBy({
        left: cardWidth,
        behavior: "smooth",
      })
    })
  })
</script>

{% schema %}
  {
    "name": "Popular products",
    "settings": [
      {
        "type": "product_list",
        "id": "products",
        "label": "Select products"        
      }
    ],

    "presets": [
      {
        "name": "Popular products",
        "category": "Custom"
      }
    ]
  }
{% endschema %}