@theme {
  /* breakpoints */
  --breakpoint-phone-medium: 23.4375rem; /*375px*/
  --breakpoint-phone-large: 25.75rem; /*412px*/
  --breakpoint-tablet-small: 37.5rem; /*600px*/
  --breakpoint-tablet-medium: 56rem; /*896px*/
  --breakpoint-tablet-large: 71.875rem; /* 1150px */
}

@import "tailwindcss";

@layer theme {
  :root {
    --color-light: #ffffff;
    --color-dark: #000000;

    --color-add-light: #efefef;

    --color-sub-light: #f5f5f5;
    --color-sub-dark: #75758a;

    --color-sup-accent: #8ee902;
    --color-sub-accent: #4f9c2c;

    --color-light-accent: #60b021;
    --color-dark-accent: #4f9c2c;

    /* text-color */
    --color-main-text: var(--color-light);
    --color-add-text: var(--color-sub-dark);
    --color-accent-text: var(--color-light-accent);

    /* buttons text-color */
    --color-text-usual-btn: var(--color-dark);
    --color-text-accent-btn: var(--color-light);

    /* background-color buttons */
    --color-bg-usual-btn: var(--color-light);
    --color-bg-accent-btn-from: var(--color-sup-accent);
    --color-bg-accent-btn-to: var(--color-sub-accent);

    /* hover buttons */
    --color-bg-usual-btn-hover: var(--color-light);
    --color-bg-accent-btn-hover: var(--color-sub-accent);
    --color-text-usual-btn-hover: var(--color-light);

    /*  background-color */
    --color-bg-main: var(--color-light);
    --color-bg-add: var(--color-sub-light);
    --color-bg-accent-from: var(--color-sup-accent);
    --color-bg-accent-to: var(--color-sub-accent);

    /* border */
    --color-main-border: var(--color-add-light);
    --color-accent-border: var(--color-light-accent);

    /* shadow */
    --shadow-box-title: 0px 2px 6px 0px #00000026;

    --shadow-accent-btn: 0px 2px 6px 0px #00000033;
    --shadow-usualt-btn: 0px 2px 6px 0px #00000026;

    --shadow-accent-variants: inset 0 0 0 2px var(--color-accent-border);

    /* padding */
    --padding-inline: 20px;
    --padding-block: 20px;
    /* container */
    --container-middle: 1110px;
    --container-middle-width: calc(
      var(--container-middle) + (var(--padding-inline) * 2)
    );
    /* breakpoints
    --breakpoint-pnone-medium: 23.4375rem;
    --breakpoint-pnone-large: 25.75rem;
    --breakpoint-tablet-small: 37.5rem;
    --breakpoint-tablet-medium: 48rem; */
  }
}

@layer utilities {
  .container-middle {
    max-width: var(--container-middle-width);
    margin: 0 auto;
    padding-inline: var(--padding-inline);
  }
  .hero-container {
    max-width: var(--container-middle-width);
    margin: 0 auto;
    padding-inline: var(--padding-inline);
    padding-block: var(--padding-block);
    @media (width >= 48rem) {
      padding-inline: 30px;
    }
  }
  .font-section-title {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.11;
    text-align: center;
  }
}
