@import "tailwindcss";

@layer theme {
  :root {
    /* text-color */
    --color-main-text: #ffffff;
    --color-secondary-text: #75758a;
    --color-accent-text: #60b021; /*light-green*/

    /* buttons text-color */
    --color-main-btn: #000000;
    --color-secondary-btn: #ffffff;

    /* background-color */
    --color-main-bg: #ffffff;
    --color-secondary-bg: #f5f5f5; /*light-grey*/
    --color-additinal-bg: #4f9c2c; /*dark-green*/
    --color-accent-bg-from: #8ee902;
    --color-accent-bg-to: #4f9c2c;

    /* buttons background-color */
    --color-main-btn-bg: #ffffff;
    --color-btn-bg-main-hover: var(--color-secondary);
    --color-btn-bg-secondary-hover: #4f9c2c; /*dark-green*/

    /* border */
    --color-main-border: #efefef;
    --color-accent-border: #60b021; /*light-green*/

    /* shadow */
    --shadow-box-title: 0px 2px 6px 0px #00000026;

    /* padding */
    --padding-inline: 20px;
    --padding-block: 20px;
    /* container */
    --container-middle: 1110px;
    --container-middle-width: calc(
      var(--container-middle) + (var(--padding-inline) * 2)
    );
  }
}

@layer utilities {
  .bg-main {
    background-color: var(--color-main-bg);
  }
  .bg-secondary {
    background-color: var(--color-secondary-bg);
  }
  .text-main {
    color: var(--color-main-text);
  }
  .bg-btn-main {
    background-color: var(--color-main-btn-bg);
  }
  .bg-btn-secondary {
    background: var(--color-secondary-btn-bg);
  }
  .hover-btn-secondary {
    background: var(--color-secondary-btn-bg);
    background-image: linear-gradient(180deg, #8ee902 0%, #4f9c2c 100%);
  }
  .border-main {
    border: 1px solid var(--color-main-border);
    outline: 0px solid transparent;
    transition: outline 0.25s ease-out;
  }
  .border-hover:hover {
    outline: 2px solid var(--color-accent-border);
  }
  .shadow-title {
    box-shadow: var(--shadow-box-title);
  }
  .container-middle {
    max-width: var(--container-middle-width);
    margin: 0 auto;
    padding-inline: var(--padding-inline);
  }
  .hero-container {
    max-width: var(--container-middle-width);
    margin: 0 auto;
    padding-inline: var(--padding-inline);
    padding-block: var(--padding-block);
    @media (width >= 48rem) {
      padding-inline: 30px;
    }
  }
}
